# Ignore Edge cached theme files
Cached Theme.pak

# Ignore zip packages
*.zip

# Ignore specific promotional and background images
*promo-tile*
*logo-gem*
*logo*
screenshot.png
screenshot1.png
screenshot2.png